<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="end">
        <button mat-button (click)="closeDialog()">
            <i class="material-icons">close</i>
        </button>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="50">
            <button mat-button (click)="isLoginActive= true" [class.btn--disable]="isLoginActive"
                class="full-width no-shape">Login</button>
        </div>
        <div fxFlex="50">
            <button mat-button (click)="isLoginActive= false" [class.btn--disable]="!isLoginActive"
                class="full-width no-shape">Registration</button>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<br>
<div *ngIf="isLoginActive">
    <app-login></app-login>
</div>
<div *ngIf="!isLoginActive">
    <app-registration></app-registration>
</div>