<h2>Üdvözöljük Kerekegyháza Weboldalán</h2>

<mat-grid-list cols="4" rowHeight="140px">
    <mat-grid-tile
    *ngFor="let item of list"
    [rowspan]="item.rows" [colspan]="item.cols">
    <img src="https://i.picsum.photos/id/1018/1920/1080.jpg">
    </mat-grid-tile>
</mat-grid-list>