<div class="container" *ngIf="!forgottenPassword">
  <form [formGroup]="formModel" (submit)="onSubmit()">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
      <div fxFlex="50">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="formControls.email.hasError('required')">Email is
            required.</mat-error>
          <mat-error *ngIf="formControls.email.hasError('email')">Email is not
            valid.</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="formControls.password.hasError('required')">Password
            is required.</mat-error>
          <mat-error *ngIf="formControls.password.hasError('containUpperCase')">Must
            conatin uppercase</mat-error>
          <mat-error *ngIf="formControls.password.hasError('containDigit')">Must
            conatin at least 1 digit.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <br>
    <!-- <div fxLayout="row" fxLayoutAlign="center">
      <re-captcha (resolved)="resolved($event)" siteKey="6LeFIuIUAAAAACsvbJSBgEhnYBnqb9jQ6j2I9aAa"></re-captcha>
    </div>-->
    <br>
    <mat-divider></mat-divider>
    <br>
    <div fxLayout="row">
      <button mat-button type="submit" class="button-ok full-width extra-margin"
        [disabled]="inProgress || formModel.invalid">Bejelentkezés</button>
    </div>
  </form>
  <div fxLayout="row">
    <button mat-button class="button-warning full-width"
      (click)="forgottenPassword= true" [disabled]="inProgress">Elfelejtett
      jelszó</button>
  </div>
  <div *ngIf="inProgress">
    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>

<div class="container" *ngIf="forgottenPassword">
  <p>A megadott email címre elküldjük a szükséges adatokat.</p>
  <br>
  <form [formGroup]="forgottenPasswordForm" (submit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="50%">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error
            *ngIf="ForgottenPasswordFormControl.email.hasError('required')">Email
            is
            required.</mat-error>
          <mat-error
            *ngIf="ForgottenPasswordFormControl.email.hasError('email')">Email
            is not
            valid.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <br>
    <!-- <div fxLayout="row" fxLayoutAlign="center">
      <re-captcha (resolved)="resolved($event)" siteKey="6LeFIuIUAAAAACsvbJSBgEhnYBnqb9jQ6j2I9aAa"></re-captcha>
    </div>-->
    <br>
    <div fxLayout="row">
      <button mat-button type="submit" class="button-ok full-width extra-margin"
        (click)="sendForgottenPasswordEmail()"
        [disabled]="inProgress || forgottenPasswordForm.invalid">Küldés</button>
    </div>
  </form>
  <div fxLayout="row">
    <button mat-button class="button-warning full-width"
      (click)="forgottenPassword = false">Vissza a bejelentkezésre</button>
  </div>
  <div *ngIf="inProgress">
    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>