<div class="content" fxFlex fxLayout="row">
    <mat-grid-list cols="8" rowHeight="100px" fxFlex>
        <mat-grid-tile *ngFor="let directory of fileSystem.directories"
            class="file-or-folder">
            <div fxLayout="column" fxLayoutAlign="space-between center">
                <mat-icon
                    [ngStyle]="{'color':'#FFEB3B'}"
                    class="file-or-folder-icon pointer"
                    (click)="updateFileSystem(directory)">
                    folder
                </mat-icon>
                <span>{{directory | splitName | limitTo }}</span>
                <button mat-button *ngIf="isDelete"
                    (click)="deleteDirectory(directory,false)"
                    class="button-warning">Törlés</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let file of fileSystem.files"
            class="file-or-folder">
            <div 
                fxLayout="column"
                fxLayoutAlign="space-between center">
                <mat-icon
                    [ngStyle]="{'color':'black'}"
                    class="file-or-folder-icon pointer"
                    (click)="getFile(file)">
                    insert_drive_file
                </mat-icon>
                <span>{{file | splitName | limitTo }}</span>
                <button mat-button *ngIf="isDelete"
                    (click)="deleteFile(file)"
                    class="button-warning">Törlés</button>
                </div>
            </mat-grid-tile>
    </mat-grid-list>
</div>