<div class="container" style="width: 300px; margin: auto" *ngIf="isKeyCorrect">
    <form [formGroup]="formModel" (submit)="onSubmit()">
      <div fxLayout="column" fxLayoutGap="16px">
        <div fxFlex>
            <div formGroupName="passwords">
                <div fxLayout="column">
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" type="password" autocomplete="disabled">
                            <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
                            <mat-error *ngIf="password.hasError('containUpperCase') && !password.hasError('minlength')">Must
                                conatin uppercase</mat-error>
                            <mat-error *ngIf="password.hasError('containDigit') && !password.hasError('minlength')">Must
                                conatin at least 1 digit.</mat-error>
                            <mat-error *ngIf="password.hasError('minlength')">Must have 10 character.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex>
                        <mat-form-field>
                            <mat-label>Password Again</mat-label>
                            <input matInput formControlName="confirmPassword" type="password">
                            <mat-error *ngIf="confirmPassword.hasError('required')">Confirm password is required.
                            </mat-error>
                            <mat-error *ngIf="confirmPassword.hasError('mustMatch')">Confirm password not match.</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <br>
      <!--<div fxLayout="row" fxLayoutAlign="center">
        <re-captcha (resolved)="resolved($event)" siteKey="6LeFIuIUAAAAACsvbJSBgEhnYBnqb9jQ6j2I9aAa"></re-captcha>
      </div>
      <br>-->
      <mat-divider></mat-divider>
      <br>
      <div fxLayout="row">
        <button mat-button type="submit" class="button-ok full-width extra-margin"
          [disabled]="inProgress || formModel.invalid">Mentés</button>
      </div>
    </form>
    <div *ngIf="inProgress">
      <br>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
  <div *ngIf="inProgress">
    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
