<div fxLayout="row" fxLayout.xs="column" style="margin-top: 20px;">
    <div fxFlex>
        <button mat-button (click)="back()" [disabled]="backStack == 1"
        class="button-ok
        button-same-width"><span class="material-icons">reply</span>Vissza</button>
    <button mat-button (click)="openNewFolderDialog()" class="button-blue
        button-same-width">Új mappa</button>
    <button mat-button class="button-warning button-same-width"
        [disabled]="isDelete" (click)="isDelete= !isDelete">Törlés</button>
    <button mat-button *ngIf="isDelete" class="button-blue button-same-width"
        (click)="isDelete= !isDelete">Kész</button>
    <app-file-upload
        [basePath]="fileSystem.basePath"
        [text]="uploadText"
        (complete)="onFileComplete($event)">
    </app-file-upload>
    </div>
</div>

<app-file-explorer [fileSystem]="fileSystem" [isDelete]="isDelete"
    (path)="getFileStructure($event)" (downloadFilePath)="getFile($event)"></app-file-explorer>