<div mat-dialog-content>
  <p>{{data?.msg}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button class="button-ok" (click)="onConfirmClick()">Igen</button>
  <button mat-button class="button-warning" mat-dialog-close cdkFocusInitial>Nem</button>
</div>