<div fxLayout="column">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="20%">
            <mat-form-field>
                <mat-label>Rendezés dátum szerint</mat-label>
                <select matNativeControl required
                    [(ngModel)]="postWithPagination.orderBy"
                    (change)="getAllPost()">
                    <option value="dec">Csökkenő</option>
                    <option value="asc">Növekvő</option>
                </select>
            </mat-form-field>
        </div>
        <div fxFlex="60%"></div>
        <div fxFlex="20%">
            <mat-form-field class="example-full-width">
                <mat-label>Keresés dátum szerint</mat-label>
                <input matInput [(ngModel)]="postWithPagination.searchString">
                <button mat-icon-button matSuffix (click)="getAllPost()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end" style="margin-top: 8px;">
        <button mat-button class="button-ok" routerLink="/post/edit"
            *ngIf="isSuperUser">Új Post</button>
    </div>
    <!--TODO egyszer átírni a megjelenítést!-->
    <div>
        <div fxLAyout="row" *ngFor="let post of posts">
            <mat-card style="margin-bottom: 8px; margin-top: 8px;
                background-color: #e0e0e0; max-height: 200px;">
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                    <div fxFlex="20%" *ngIf="post.picture">
                        <img style="max-width: 100px; max-height: 100px;"
                             src={{post.picture}}>
                    </div>
                    <div fxFlex="100%" fxLayoutAlign="center center">
                        <mat-card-content>
                            <div>
                                {{post.title}}
                            </div>
                        </mat-card-content>
                    </div>
                </div>
                <mat-card-footer>
                    <div fxLAyout="row" fxLayout.sm="column"
                        fxLayout.xs="column" fxLayoutAlign="center center">
                        <div fxFlex style="text-align: center;">Szerkesztette:
                            {{post.userName}}</div>
                        <div fxFlex style="text-align: center;">
                            Megnézte: {{post.views}} db
                        </div>
                        <div fxFlex
                            style="text-align: center;">
                            {{post.lastUpdate}}
                        </div>
                        <div fxFlex
                            fxLayoutAlign="end"
                            style="text-align: center;"
                            *ngIf="post.body">
                            <button mat-button class="full-width"
                                routerLink="/post/details/{{post.id}}">Megtekintés</button>
                        </div>
                        <div fxFlex
                            fxLayoutAlign="end"
                            style="text-align: center;"
                            *ngIf="isSuperUser">
                            <button mat-button class="full-width"
                                (click)="updatePost(post.id)">Szerkesztés</button>
                        </div>
                        <div fxFlex
                            fxLayoutAlign="end"
                            style="text-align: center;"
                            *ngIf="isSuperUser">
                            <button mat-button class="full-width"
                                (click)="openDeleteConfirmDialog(post.id)">Törlés</button>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>

    <div fxFlayout="row" fxLayoutAlign="end center">
        <mat-paginator [length]="length"
            [(pageSize)]="postWithPagination.pageSize"
            [pageIndex]="postWithPagination.pageIndex"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="paginatorEvent($event)">
        </mat-paginator>
    </div>
</div>
