<div style="height: 100%;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true"
        fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="/home">Kerekegyháza</span>
      <div fxShow="true" fxHide.lt-md *ngIf="!isAdmin">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="/post" mat-button>Aktuális</a>
        <a routerLink="/contacts" mat-button>Városról</a>
        <a routerLink="/repository" mat-button>Adattár</a>
        <a routerLink="/contacts" mat-button>Polgármesteri hivatal</a>
        <a routerLink="/contacts" mat-button>Ügyintézés</a>
        <a routerLink="/contacts" mat-button>Intézmények</a>
        <a routerLink="/contacts" mat-button>Felhívások</a>
        <a routerLink="/contacts" mat-button>Kultúra, szórakozás</a>
      </div>
      <div fxShow="true" fxHide.lt-md *ngIf="isAdmin">
        <a routerLink="/users" mat-button>Felhasználók</a>
      </div>
      <span class="menu-spacer"></span>
      <button *ngIf="!isLoggedIn" mat-button (click)="openDialog()">
        <i class="material-icons">perm_identity</i>
      </button>
      <button *ngIf="isLoggedIn" mat-button (click)="logOut()">
        <i class="material-icons">exit_to_app</i>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list *ngIf="!isAdmin">
        <a routerLink="/contacts" mat-list-item>Aktuális</a>
        <a routerLink="/contacts" mat-list-item>Városról</a>
        <a routerLink="/repository" mat-list-item>Adattár</a>
        <a routerLink="/contacts" mat-list-item>Polgármesteri hivatal</a>
        <a routerLink="/contacts" mat-list-item>Ügyintézés</a>
        <a routerLink="/contacts" mat-list-item>Intézmények</a>
        <a routerLink="/contacts" mat-list-item>Felhívások</a>
        <a routerLink="/contacts" mat-list-item>Kultúra, szórakozás</a>
      </mat-nav-list>
      <mat-nav-list *ngIf="isAdmin">
        <a routerLink="/users" mat-list-item>Felhasználók</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div fxLayout="row">
        <div fxFlex="20"></div>
        <div fxFlex="60" style="margin-top: 8px;">
          <router-outlet></router-outlet>
        </div>
        <div fxFlex="20"></div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>