<div mat-dialog-content>
    <p>Új mappa létrehozás</p>
    <div fxLayout="row">
        <mat-form-field>
            <mat-label>Új mappa neve</mat-label>
            <input matInput [formControl]="newFolderName">
        </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="button-warning" [disabled]="newFolderName.invalid" (click)="saveNewFolder()">Mentés</button>
    <button mat-button class="button-ok" mat-dialog-close cdkFocusInitial>Mégse</button>
  </div>