<div fxLAyout="column">
    <form [formGroup]="formModel">
        <div fxLayout="row" style="margin-top: 8px;" fxLayoutGap="16px">
            <div fxLayout="column">
                <div fxFlex="30%">
                    <div fxLayout="row">
                        <app-file-upload
                            [isPostPicture]="isPostPicture"
                            [param]="param"
                            (complete)="onFileComplete($event)"
                            (pictureUrl)="setUpImage($event)">
                        </app-file-upload>
                    </div>
                    <div fxLayout="row" *ngIf="img">
                        <button mat-button class="full-width button-warning"
                            (click)="deletePicture()">Törlés</button>
                    </div>
                </div>
            </div>
            <div fxLayout="column">
                <img src={{img}} style="height: 100px; width: 100px;"
                    *ngIf="img">
            </div>
        </div>
        <br>
        <div class="form-group">
            <div fxLayout="row">
                <mat-form-field>
                    <mat-label>Cím</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div fxLayout="row">
                <mat-form-field>
                    <mat-label>Szöveg</mat-label>
                    <textarea matInput formControlName="body"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" *ngIf="!post">
            <button mat-button class="button-ok" (click)="onSubmit()">Küldés</button>
        </div>
        <div fxLayout="row" *ngIf="post">
            <button mat-button class="button-ok" (click)="updatePost()">Mentés</button>
        </div>
    </form>
</div>
