/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-toastr/toastr.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.myapp-no-padding-dialog .mat-dialog-container {
    padding: 0;
  }

  .full-width{
    width:100%;
  }

  .mat-button-focus-overlay {
    background-color: transparent!important;
}

.button-ok{
  background-color: #64dd17;
}

.button-warning{
  background-color: #ff3d00;
}

.button-blue{
  background-color: #1976D2;
}

.button-yellow{
  background-color: yellow;
}

.button-same-width{
  width: 100px;
}

mat-form-field {
  width: 100%;
}