<div class="container">
    <form [formGroup]="formModel" autocomplete='off' (submit)="onSubmit()">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
            <div fxFlex="50">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                    <mat-error *ngIf="formControls.firstName.hasError('required')">Firstname is required.</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50">
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                    <mat-error *ngIf="formControls.lastName.hasError('required')">Lastname is required.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <mat-form-field>
                <mat-label>User Name</mat-label>
                <input matInput formControlName="userName">
                <mat-error *ngIf="formControls.userName.hasError('required')">Username is required.</mat-error>
            </mat-form-field>
        </div>
        <div formGroupName="emails">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
                <div fxFlex="50">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error>
                        <mat-error *ngIf="email.hasError('email')">Email is not valid.</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field>
                        <mat-label>Email Again</mat-label>
                        <input matInput formControlName="confirmEmail">
                        <mat-error *ngIf="confirmEmail.hasError('email')">Confirm email is not
                            valid.</mat-error>
                        <mat-error *ngIf="confirmEmail.hasError('mustMatch')">Confirm email not
                            match</mat-error>
                        <mat-error *ngIf="confirmEmail.hasError('required')">Confirm email is
                            required.</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div formGroupName="passwords">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
                <div fxFlex="50">
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password" autocomplete="disabled">
                        <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
                        <mat-error *ngIf="password.hasError('containUpperCase') && !password.hasError('minlength')">Must
                            conatin uppercase</mat-error>
                        <mat-error *ngIf="password.hasError('containDigit') && !password.hasError('minlength')">Must
                            conatin at least 1 digit.</mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">Must have 10 character.</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field>
                        <mat-label>Password Again</mat-label>
                        <input matInput formControlName="confirmPassword" type="password">
                        <mat-error *ngIf="confirmPassword.hasError('required')">Confirm password is required.
                        </mat-error>
                        <mat-error *ngIf="confirmPassword.hasError('mustMatch')">Confirm password not match.</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <br>
       <!--  <div fxLayout="row" fxLayoutAlign="center">
            <re-captcha (resolved)="resolved($event)" siteKey="6LeFIuIUAAAAACsvbJSBgEhnYBnqb9jQ6j2I9aAa"></re-captcha>
        </div>-->
        <br>
        <mat-divider></mat-divider>
        <br>
        <div fxLayout="row">
            <button mat-button type="submit" class="button-ok full-width" [disabled]="inProgress">Regisztráció</button>
        </div>
    </form>
    <div *ngIf="inProgress">
        <br>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>