/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.user-card {
  max-width: 400px !important;
}

.card-div{
  margin: auto;
}

button{
  width: 100px!important;
}
