<mat-form-field>
  <mat-label>Szűrés név szerint</mat-label>
  <input matInput #input (keyup)="onKeyUp(input.value)">
</mat-form-field>

<div class="mat-elevation-z8" *ngIf="!userRoleInUpdate">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="sortData($event)" matSortActive="fullName" matSortDirection="asc">
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Azonosító </th>
          <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
        </ng-container>
      
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Név </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Felhasználói szint </th>
          <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>
    
        <ng-container matColumnDef="updateRole">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-button class="button-ok" (click)="loadUserData(element)">Szerkesztés</button>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="length"
            [(pageSize)]="pagination.pageSize"
            [pageIndex]="pagination.pageIndex"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="paginatorEvent($event)">
        </mat-paginator>
</div>

<div *ngIf="userRoleInUpdate" class="card-div">
    <mat-card class="user-card">
        <mat-card-header>
          <mat-card-title>{{updatedUser.fullName}}</mat-card-title>
          <mat-card-subtitle>{{updatedUser.userId}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{updatedUser.email}}</p>
          <mat-form-field>
            <mat-label>Felhasználói szintek</mat-label>
            <select matNativeControl #select [(ngModel)]= "selectedRole">
              <option *ngFor="let role of roles" [value]="role.name">{{role.name}}</option>
            </select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="button-ok" (click)="updateUserRole(select.value)" [disabled]="select.value == updatedUser.role">Mentés</button>
          <button mat-button class="button-yellow" (click)="userRoleInUpdate = false" style="float: right;">Mégse</button>
        </mat-card-actions>
      </mat-card>
</div>

  